:root {
	--black: #151515;
	--white: #FFF;
	--blue: #3F5AF3;
	--dark: #252525;
	--grey: #B0B287;
	--verygrey: #696969;
}



.title {
	
}

.block{
	display: none !important;
}

.iti {
	width: 100% !important;
	max-width: 100% !important;
}

@media (max-width: 575.98px) {
	.title {
		
	}
}
